---
import Layout from '@/layouts/Layout.astro'
import { getSession } from '@/sessions'
import { User } from '@/types/user'

interface Data {
  user: User
}

const session = getSession(Astro.cookies)

const token = session.get('token')

const data: Data = await fetch(new URL('/api/user', Astro.url), {
  headers: {
    Authorization: `Bearer ${token}`,
  },
}).then(res => res.json())

const { user } = data
---

<Layout title="Astro">
  <header>
    <nav>
      <form action="/logout" method="POST">
        <button>Logout</button>
      </form>
    </nav>
  </header>

  <main>
    <h1>Astro Auth Test</h1>

    <div>Welcome, {user.name}!</div>
  </main>
</Layout>
