---
import Layout from '@/layouts/Layout.astro'
import type { User } from '@/types/user'

interface Data {
  user: User
}

// 從 session 中獲取 token
const token = await Astro.session?.get('token')

// 模擬第三方 API 請求以獲取用戶數據
const res = await fetch(new URL('/api/user', Astro.url), {
  headers: {
    Authorization: `Bearer ${token}`,
  },
})

if (!res.ok && res.status === 401) {
  Astro.session?.destroy()

  return Astro.redirect('/login')
}

const data: Data = await res.json()
console.log(data)
const { user } = data
---

<Layout title="Astro">
  <header>
    <nav>
      <form action="/logout" method="POST">
        <button>Logout</button>
      </form>
    </nav>
  </header>

  <main>
    <h1>Astro Auth Test</h1>

    <div>Welcome, {user.name}!</div>
  </main>
</Layout>
