---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Astro">
  <header>
    <nav>
      <a href="/login/">Login</a>
    </nav>
  </header>

  <main>
    <h1>Astro Auth Test</h1>
  </main>
</Layout>
