---
import { TOKEN } from '@/constant'
import Layout from '@/layouts/Layout.astro'

// 處理 POST 請求
if (Astro.request.method === 'POST') {
  // 從表單數據中獲取 email 和 password
  const form = await Astro.request.formData()
  const email = form.get('email') || ''
  const password = form.get('password') || ''

  // 檢查 email 和 password 是否正確
  if (email === 'astro123@example.com' && password === 'password') {
    // 取得 auth token...

    // 重新生成 session ID
    await Astro.session?.regenerate()

    // 設置 token 到 session
    Astro.session?.set('token', TOKEN)

    return Astro.redirect('/dashboard')
  } else {
    // 如果不正確，設置錯誤信息
    Astro.session?.set('errors', {
      email: ['Incorrect credentials'],
    })
  }
}

// 從 flash session 中獲取 Error bag
const errors = await Astro.session?.get('errors') || {}

Astro.session?.delete('errors')
---

<Layout title="Astro">
  <h1>Login</h1>

  <form action="/login" method="POST">
    <div>
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" value="astro123@example.com" required />
      {errors.email && <span>{errors.email?.[0]}</span>}
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" value="password" required />
    </div>
    <button type="submit">Login</button>
  </form>
</Layout>
